:root {
  background-color: #363232;
  --primary: #f4b5eb;
  --highlight: #8260a2;
}
h1 {
  text-align: center;
  padding: 0.67em;
  margin: 0;
  font-family: intrique;
  font-size: 3em;
  color: var(--primary);
}
@font-face {
  font-family: intrique;
  src: url(../font/intrique_script/IntriqueScript_PersonalUse.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../font/Inter/static/Inter_18pt-Regular.ttf);
}
header {
  -webkit-app-region: drag;
}
nav {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 64px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 64px;
  padding: 0 5%;
  justify-content: flex-end;
}
#appIcon {
  margin-right: auto;
}
nav > * {
  -webkit-app-region: no-drag;
  width: 64px;
  height: inherit;
}
footer {
  color: var(--primary);
  width: 90%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 5%;
  bottom: 0;
  font-size: smaller;
}
#minimize,
#close {
  background-color: transparent;
  border: none;
  background-size: cover;
  background-position: center;
}
#minimize {
  background-image: url("../img/image-removebg-preview-4.png");
}
#close {
  background-image: url("../img/image-removebg-preview-5.png");
}

canvas {
  padding: 0;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  margin-top: 2em;
  margin-left: 95px;
  margin-bottom: 1em;
  background-color: white;
}
#numeric {
  color: whitesmoke;
  font-family: Inter;
  width: 100%;
  text-align: center;
}
#playBtn {
  font-family: Inter;
  font-size: 1em;
  color: whitesmoke;
  background-color: var(--primary);
  border-radius: 15px;
  height: 30px;
  width: 60%;
  margin-left: 20%;
  border: 0px;
}
#playBtn:hover {
  box-shadow: 0 0px 3px 3px var(--highlight);
}
